.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    /* background-color: #E0FFF7; */
}

.wrapper>header {
    display: flex;
    min-width: 464px;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
}

header {
    background-color: #E0FFF7;
}

#accountBar {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

#accountBar>img {
    margin-top: 30px;
    margin-bottom: 30px;
}

#content {
    background-color: white;
    margin-bottom: 30px;

}

#mainList {
    margin-top: 30px;
    margin-bottom: 30px;
}

.tab-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tab-content>img {
    width: 300px;
    height: 300px;
}

.gridContainer {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    width: 100%;
}

.square {
    margin: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    width: 330px;
    height: 330px;
}

.square>a {
    color: #008485;
    text-decoration: none;
}

.square>a>.img-fluid {
    min-width: 330px;
    height: 330px;
    /* width: max-content;
    height: 300px; */
}

.square>a>p {
    display: flex;
    justify-content: center;
}


footer {
    margin: 0;
    display: flex;
    width: 100%;
    min-height: 100px;
    justify-content: center;
    align-items: stretch;
    place-items: center;
    background-color: #E0FFF7;

}

#loginBar {
    display: flex;
    justify-content: end;
}

#navBar {
    height: 10vh;
    display: flex;
    justify-content: center;
}

.jumbotron {
    background: linear-gradient(to bottom, #E0FFF7, #E0FFF7, #FFFFFF);
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.jumbotron>.jumbotron_el {
    margin-inline: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    height: 500px;
}


@media (max-width: 1155px) {
    .gridContainer {
        grid-template-columns: repeat(2, 1fr);
        display: grid;
        width: 100%;
    }
}

@media (max-width: 1055px) {
    .jumbotron {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
    }

    .jumbotron>.jumbotron_el {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 500px;
        max-height: 500px;
    }

    #accountBar {
        display: flex;
        align-items: stretch;
        justify-content: center;
    }

    #accountBar>img {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%;
        height: 120px;
    }
}

@media (max-width: 992px) {
    .navbar-collapse {
        background-color: #f8f9fa;
        /* navbar의 배경색과 일치시키기 */
    }
}

@media (max-width: 780px) {
    .gridContainer {
        grid-template-columns: repeat(1, 1fr);
        display: grid;
        width: 100%;
    }
}

.lead {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.lead>.btn {
    background-color: #008485;
    width: 30%;
}

.btn.no-underline-black {
    text-decoration: none;
    color: black;
}

.xButton {
    position: relative;
    width: 100%;
}

.bbtn {
    position: absolute;
    right: 10px;
}

.modal-body>button {}

.modal-body>h5 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 35px;
}

.modalFooter>button {
    background-color: #008485;
    width: 100%;
    height: 50px;
}

main>h2 {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.balance-container {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    width: 80%;
    min-width: 500px;
    background-color: #f9f9f9;
    margin: 0 auto 30px;
}


@media screen and (max-width: 900px) {
    .balance-container {
        flex-wrap: wrap;
    }

    .balance-info,
    .asset-distribution {
        width: 100%;
    }
}


.balance-title {
    text-align: center;
    font-size: x-large;
    margin-bottom: 25px;
}

.section-title {
    text-align: center;
    font-size: x-large;
    margin-bottom: 10px;
}

.balance-amount {
    font-size: 30px;
}

.balance-info {
    margin: 20px;
    height: auto;
    width: 45%;
    min-width: 350px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.asset-distribution {
    margin: 20px;
    height: auto;
    width: 45%;
    min-width: 250px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profit,
.profit-percentage {
    color: green;
}

.investment {
    width: 100%;
}

.investment .title {
    display: inline-block;
    width: 50%;
    text-align: left;
}


.investment .amount {
    display: inline-block;
    width: 50%;
    text-align: right;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.flex-container .amount {
    display: flex;
    flex-direction: column;
    text-align: right;
}


hr {
    width: 100%;
    margin: 10px 0;
}