.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    /* background-color: #E0FFF7; */
}

.wrapper>header {
    display: flex;
    min-width: 464px;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
}

header {
    background-color: #E0FFF7;
}

#accountBar {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

#accountBar>img {
    margin-top: 30px;
    margin-bottom: 30px;
}

#content {
    background-color: white;
    margin-bottom: 30px;

}

#mainList {
    margin-top: 30px;
    margin-bottom: 30px;
}

#mainList>img {
    min-width: 300px;
    max-height: 300px;
}

footer {
    margin: 0;
    display: flex;
    width: 100%;
    min-height: 100px;
    justify-content: center;
    align-items: stretch;
    place-items: center;
    background-color: #E0FFF7;

}

#loginBar {
    display: flex;
    justify-content: end;
}

#navBar {
    height: 10vh;
    display: flex;
    justify-content: center;
}

.jumbotron {
    background: linear-gradient(to bottom, #E0FFF7, #E0FFF7, #FFFFFF);
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.jumbotron>.jumbotron_el {
    margin-inline: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    height: 500px;
}

@media (max-width: 1055px) {
    .jumbotron {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
    }

    .jumbotron>.jumbotron_el {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 500px;
        max-height: 500px;
    }

    #accountBar {
        display: flex;
        align-items: stretch;
        justify-content: center;
    }

    #accountBar>img {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%;
        height: 120px;
    }
}

@media (max-width: 992px) {
    .navbar-collapse {
        background-color: #f8f9fa;
        /* navbar의 배경색과 일치시키기 */
    }
}

.lead {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.lead>.btn {
    background-color: #008485;
    width: 30%;
}

.btn.no-underline-black {
    text-decoration: none;
    color: black;
}